.nav{
    display: flex;
    padding: 1px 5px;
    background-color: rgb(252, 245, 246);
    width: 100%;
    top: 0%;
    position:fixed;
}

.container1 {
    background-color: pink;
    display: flex;
    justify-content: Space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 20px 0px;
}


.grid {
    border: 2px dashed rgb(247, 97, 122);
    background-color: rgb(251, 230, 234);
    padding: 20px 40px;
    margin: 20px 0px;
}

.title{
    color:rgb(243, 54, 111)
}

.fieldset{
    border: 2px dashed rgb(247, 97, 122);
    background-color:rgb(251, 230, 234);
}

.style{
    color:rgb(117, 103, 105)
}

*{
        font-family: "Gaegu", sans-serif;
        font-weight: 400;
        font-style: normal;
      }